---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const rrss = [
  {
    name: 'GitHub',
    icon: 'fa-brands fa-github text-[2.5rem]',
    link: 'https://github.com/fedeparrilla10',
  },
  {
    name: 'LinkedIn',
    icon: 'fa-brands fa-linkedin text-[2.5rem]',
    link: 'https://www.linkedin.com/in/fedeparrilla/',
  },
  {
    name: 'Email',
    icon: 'fa-solid fa-envelope text-[2.5rem]',
    link: 'mailto:fedeparrilla.dev@gmail.com',
  },
];
---

<section class="pt-10 mb-10 flex flex-col gap-12" id="contact">
  <h2 class="font-mono text-2xl text-cyan-200 text-center lg:text-start">
    💬 {t('contact.title')}
  </h2>
  <section class="flex justify-center lg:justify-start items-center gap-10">
    <div
      class="flex flex-row gap-10 items-center justify-center lg:items-start lg:justify-start"
    >
      {
        rrss.map((rrss) => {
          return (
            <a href={rrss.link} target="_blank">
              <div class="flex flex-row items-center gap-2 text-[1rem]">
                <i class={rrss.icon} />
                <p>{rrss.name}</p>
              </div>
            </a>
          );
        })
      }
    </div>
  </section>
</section>
