---
import Image from 'astro/components/Image.astro';
---

<footer class="flex items-center justify-center mt-20 mb-3 gap-2">
  <Image
    src="/icons/code.svg"
    alt="Fede Parrilla"
    width={22}
    height={22}
    loading="lazy"
  />

  <h3 class="font-mono text-sm text-cyan-50">Fede Parrilla - 2024</h3>
</footer>
