---
import { languages } from '../i18n/ui';
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const menuItems = [
  {
    name: t('nav.home'),
    link: '#home',
  },
  {
    name: t('nav.work'),
    link: '#work-experience',
  },
  {
    name: t('nav.projects'),
    link: '#projects',
  },
  {
    name: t('nav.contact'),
    link: '#contact',
  },
];

const flags = [
  {
    id: 1,
    name: 'Español',
    src: '/portfolio/spa.svg',
  },
  {
    id: 2,
    name: 'English',
    src: '/portfolio/eng.svg',
  },
];
---

<section class="pt-2">
  <nav
    class="flex items-center justify-center md:justify-around xl:justify-between"
  >
    <img src="/portfolio/fplogo.png" class="h-6 w-6 object-contain" />
    <ul
      class="flex flex-row items-center justify-center gap-8 md:gap-6 text-[1rem] font-mono uppercase text-cyan-100"
    >
      {
        menuItems.map((item) => {
          return (
            <li>
              <a href={item.link}>{item.name}</a>
            </li>
          );
        })
      }
      <div class="flex flex-row xl:pl-10 gap-3">
        {
          Object.entries(languages).map(([lang, label]) => (
            <li>
              <a href={`/portfolio/${lang}`}>
                <img
                  src={flags.find(
                    (flag) => flag.name.toLowerCase() === label.toLowerCase()
                  ).src}
                  )
                  alt={lang}
                  class="h-8 w-6 object-contain"
                />
              </a>
            </li>
          ))
        }
      </div>
    </ul>
  </nav>
</section>
