---
import Image from 'astro/components/Image.astro';
import { languages } from '../i18n/ui';
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const menuItems = [
  {
    name: t('nav.home'),
    link: '#home',
  },
  {
    name: t('nav.work'),
    link: '#work-experience',
  },
  {
    name: t('nav.projects'),
    link: '#projects',
  },
  {
    name: t('nav.skills'),
    link: '#skills',
  },
  {
    name: t('nav.contact'),
    link: '#contact',
  },
];

const flags = [
  {
    id: 1,
    name: 'Español',
    src: '/spa.svg',
  },
  {
    id: 2,
    name: 'English',
    src: '/eng.svg',
  },
];
---

<nav class="pt-2">
  <section class="flex items-center justify-between">
    <Image
      src="/fplogo.webp"
      class="h-6 w-6 object-contain"
      alt="FedeParrilla Logo"
      width={24}
      height={24}
    />

    <div class="flex flex-row gap-8">
      <ul
        class="hidden md:flex flex-row items-center justify-center gap-8 md:gap-5 text-sm uppercase text-cyan-100"
      >
        {
          menuItems.map((item) => (
            <li>
              <a href={item.link} class="hover:text-cyan-300">
                {item.name}
              </a>
            </li>
          ))
        }
        <li
          class="bg-gradient-to-r from-[#5CF2E9] via-[#71F9CE] to-[#98FCAD] text-gray-950 rounded-xl px-2 uppercase cursor-pointer font-bold md:transition md:duration-300 md:ease-in-out md:hover:scale-105"
        >
          <a
            href={lang === 'en'
              ? '/FedeParrillaENG.pdf'
              : '/FedeParrillaESP.pdf'}
            target="_blank"
          >
            {t('nav.cv')}
          </a>
        </li>
      </ul>

      <ul class="flex flex-row items-center justify-center gap-3">
        {
          Object.entries(languages).map(([lang, label]) => (
            <li>
              <a href={`/${lang}`}>
                <Image
                  src={
                    flags.find(
                      (flag) => flag.name.toLowerCase() === label.toLowerCase()
                    ).src
                  }
                  alt={lang}
                  height={32}
                  width={24}
                  class="md:transition md:duration-300 md:ease-in-out md:hover:scale-110"
                />
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</nav>
