---
const menuItems = [
  {
    name: 'Home',
    link: '#home',
  },
  {
    name: 'About',
    link: '#about',
  },
  {
    name: 'Projects',
    link: '#projects',
  },
  {
    name: 'Contact',
    link: '#contact',
  },
];
---

<section class="pt-2">
  <nav class="flex items-center justify-center">
    <ul
      class="flex flex-row items-center justify-center gap-8 md:gap-6 font-mono text-md uppercase text-cyan-100"
    >
      {
        menuItems.map((item) => {
          return (
            <li>
              <a href={item.link}>{item.name}</a>
            </li>
          );
        })
      }
    </ul>
  </nav>
</section>
