---
import { allProjects } from '../data/projects.js';
---

<section
  class="pt-8 mb-14 flex flex-col items-center justify-center gap-20"
  id="projects"
>
  <h2 class="font-mono text-3xl md:text-4xl tracking-wide text-cyan-200">
    Projects
  </h2>
  <div class="grid lg:grid-cols-3 gap-5 justify-center">
    {
      allProjects.map((project) => (
        <div class="max-w-sm shadow">
          <a href="#">
            <img class="rounded-xl" src={project.img} alt={project.name} />
          </a>
        </div>
      ))
    }
  </div>
</section>
