---
import Image from 'astro/components/Image.astro';
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import { allTechs } from '../data/stack.js';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="pt-10 mb-10 flex flex-col gap-12" id="skills">
  <h2
    class="font-mono font-semibold text-xl text-cyan-200 text-center lg:text-start"
  >
    ⚒️ {t('skills.title')}
  </h2>

  <article
    class="flex flex-row flex-wrap gap-4 justify-center lg:justify-start"
  >
    {
      allTechs.map((tech) => {
        return (
          <div
            class={`${tech.class} flex flex-row text-sm items-center gap-1 border-gray-200 rounded-lg px-3 py-[0.20rem] cursor-default`}
          >
            <Image
              src={tech.img}
              alt={tech.name}
              width={20}
              height={20}
              loading="lazy"
            />
            <p>{tech.name}</p>
          </div>
        );
      })
    }
  </article>
</section>
