---
import Image from 'astro/components/Image.astro';
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import WorkExperienceIcon from '../../public/icons/briefcase.webp';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="pt-8 mb-10 flex flex-col gap-12" id="work-experience">
  <div class="flex items-center gap-4">
    <Image src={WorkExperienceIcon} alt={t('work.title')} class="w-8 h-8" />
    <h2
      class="font-semibold text-xl sectionTitleColor text-center lg:text-start pt-1"
    >
      {t('work.title')}
    </h2>
  </div>

  <article>
    <ol class="relative border-l border-gray-700">
      <li class="ml-4">
        <div
          class="absolute w-3 h-3 rounded-full mt-1.5 -left-1.5 borderborder-gray-900 bg-gray-700"
        >
        </div>
        <time class="mb-1 text-sm font-normal leading-none text-gray-300"
          >{t('work.date')}
        </time>
        <h3 class="text-lg font-bold primaryColor">
          {t('work.work')}
        </h3>
        <ul class="mb-4 text-base primaryColor list-disc flex flex-col gap-2">
          <li>
            {t('work.functions.first')}
          </li>
          <li>
            {t('work.functions.second')}
          </li>
          <li>
            {t('work.functions.third')}
          </li>
          <li>
            {t('work.functions.fourth')}
          </li>
          <li>
            {t('work.functions.fifth')}
          </li>
          <li>
            {t('work.functions.sixth')}
          </li>
        </ul>
      </li>
      <li class="ml-4">
        <div
          class="absolute w-3 h-3 rounded-full mt-1.5 -left-1.5 borderborder-gray-900 bg-gray-700"
        >
        </div>
        <time class="mb-1 text-sm font-normal leading-none text-gray-300"
          >{t('study.date')}</time
        >
        <h3 class="text-lg font-bold primaryColor">
          {t('study.title')}
        </h3>
        <p class="text-base font-normal primaryColor">
          {t('study.description')}
        </p>
      </li>
    </ol>
  </article>
</section>
