---
import { allTechs } from '../data/stack.js';
---

<section class="pt-5 mb-10 flex flex-col gap-16" id="work-experience">
  <div class="flex flex-row flex-wrap items-center justify-center gap-4">
    {
      allTechs.map((tech) => {
        return (
          <div class="flex flex-col gap-2 items-center justify-center">
            <img class="h-8 w-8" src={tech.img} alt={tech.name} />
          </div>
        );
      })
    }
  </div>

  <h2 class="font-mono text-2xl text-cyan-200 text-center lg:text-start">
    🚀 Work Experience
  </h2>

  <div>
    <ol class="relative border-l border-gray-700">
      <li class="mb-10 ml-4">
        <div
          class="absolute w-3 h-3 rounded-full mt-1.5 -left-1.5 borderborder-gray-900 bg-gray-700"
        >
        </div>
        <time class="mb-1 text-sm font-normal leading-none text-gray-500"
          >August 2023 - Present
        </time>
        <h3 class="text-lg font-semibold text-white">
          Full-Stack Developer in Sitelicon Ecommerce Services
        </h3>
        <ul
          class="mb-4 text-base font-normal text-gray-300 list-disc flex flex-col gap-2"
        >
          <li>
            Developed frontend solutions using various frameworks and
            technologies, such as React, NextJS or Astro, implementing
            interactive components to improve user experiences.
          </li>
          <li>
            Designed and crafted multiple landing pages for Nacon, a renowned
            mark in the entertainment industry, ensuring timely delivery and
            efficient development by creating a custom template.
          </li>
          <li>
            Led the development of distinct sections for PACOMARTÍNEZ, a
            prominent travel-related products retailer. Played a key role in
            creating both intuitive admin panels and user interfaces.
          </li>
          <li>
            Collaborated in the creation of robust RESTful APIs using Laravel
            (PHP). Actively contributed to the development process by creating
            endpoints and managing data effectively.
          </li>
        </ul>
      </li>
      <li class="mb-10 ml-4">
        <div
          class="absolute w-3 h-3 rounded-full mt-1.5 -left-1.5 borderborder-gray-900 bg-gray-700"
        >
        </div>
        <time class="mb-1 text-sm font-normal leading-none text-gray-500"
          >March 2023 - July 2023</time
        >
        <h3 class="text-lg font-semibold text-white">
          Front-End Development Bootcamp in UpgradeHub
        </h3>
        <p class="mb-4 text-base font-normal text-gray-400">
          Get access to over 20+ pages including a dashboard layout, charts,
          kanban board, calendar, and pre-order E-commerce & Marketing pages.
        </p>
      </li>
    </ol>
  </div>
</section>
