---
import Hero from '../../components/Hero.astro';
import Projects from '../../components/Projects.astro';
import WorkExperience from '../../components/WorkExperience.astro';
import Skills from '../../components/Skills.astro';
import Contact from '../../components/Contact.astro';
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Fede Parrilla">
  <main>
    <Hero />
    <WorkExperience />
    <Projects />
    <Skills />
    <Contact />
  </main>
</Layout>
