---
import { getLangFromUrl } from '../i18n/utils';
import Footer from '../components/Footer.astro';
import NavBar from '../components/NavBar.astro';

const lang = getLangFromUrl(Astro.url);
const { title } = Astro.props;
---

<!doctype html>
<html lang={lang} class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/portfolio/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script
      src="https://kit.fontawesome.com/d6da2f3f0d.js"
      crossorigin="anonymous"></script>
  </head>
  <body
    class="mx-auto max-w-screen-lg px-5 font-sans text-white bg-gradient-to-b from-gray-950 to-gray-900 xs:text-[16px] md:text-[18px]"
  >
    <NavBar />
    <slot />
    <Footer />
    <style is:global>
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
